# Ignore the following files and directories
.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
*.log
*.env
.env.local
.env.development
.env.production
.env.test
.env*.local
.vscode
.idea
node_modules
tests
